{% extends 'default.html' %}

{% block body %}

{% include 'navbar.html' %}
<main>
	<div class="container">
		<div class="row">

			<div class="col s12">
				<h3>Requests</h3>

				<ul class="collection">

					{% for request in friend_requests %}
					<li class="collection-item black-text">
						<div>
							{{ request.username }}
							<div class="secondary-content ">
								<form method="POST">
									{% csrf_token %}

									<button class="waves-effect waves-light deep-orange btn" name='accept' value="{{ request.username }}">Add</button>
									<button class="waves-effect waves-light grey btn" name="deny" value="{{ request.username }}">Deny</button>
								</form>


							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				<h3>Friends</h3>
				<ul class="collection">
					{% for friend in friends_list %}
					<!--TODO figure out the modal stuff-->
					<a class="collection-item modal-trigger waves-effect waves-light black-text" href="#modal1">
						{{ friend.username }}
						<div id="{{ friend.username}}" class="modal modal-fixed-footer"></div>
						<div class="modal-content">
							<h4> {{ friend.username }}</h4>
							<p> Calender </p>
							<div class="waves-light grey btn"> Delete friend</div>
						</div>
					</a>

					<!--<a class="collection-item modal-trigger waves-effect waves-light black-text" href="#modal2">ᕕ(ᐛ)ᕗ ᕕ(ᐛ)ᕗ   </a>-->
					<!--<div id="{{ modal_id }}" class="modal modal-fixed-footer">-->
						<!--<div class="modal-content">-->
							<!--<h4>{{ friend.username }}</h4>-->
							<!--<p>Calendar</p>-->
							<!--<div class="waves-light grey btn">Delete friend</div>-->
						<!--</div>-->
					<!--</div>-->

					{% endfor %}
				</ul>

			</div>
		</div>
	</div>
</main>

{% include "scripts.html" %}

{% include "navbar_jquery.html" %}


{% endblock %}
