{% extends 'default.html' %}

{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        {% include "cacti_header.html" %}
        <div class="row center">
            <form id="login-form" class="col s6 offset-s3" method="post" >
                {% csrf_token %}

                <div class="row">
                    <div class="input-field col s6 offset-s3">
                         <input id="username" name="username" type="text" class="validate">
                        <label class="active" for="username">Enter your username:</label>
                        <!--<input id="email" name="email" type="text" class="validate">-->
                        <!--<label class="active" for="email">Enter your email address:</label>-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input id="password" name="password" type="password" class="validate">
                        <label class="active" for="password">Enter your password:</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light btn-large" type="submit" name="action" >Submit
					<i class="material-icons right">send</i>
				</button>
                <!--<a class="waves-effect waves-light btn-large" href="{{ post_registration_url }}">Submit</a>-->
            </form>
        </div>
    </div>
</div>

{% include "scripts.html" %}
{% endblock %}
