<!--upper nav bar-->
<header>
	<nav class="top-nav deep-orange">
		<div class="container">
			<div class="nav-wrapper"><a class="brand-logo center" href="home">Cacti</a></div>
		</div>
		<a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
	</nav>
	<ul id="slide-out" class="side-nav fixed grey">
		<div class="user-details">
			<div class="row grey center-align">
				<br>
				<div class="container">
					<img class="circle responsive-img"  src="http://www.dogbreedinfo.com/images26/EnglishBulldogPurebredDogSofiWhiteBrown9YearsOld1.jpg" >
				</div>
				<li>
					<a class='btn-flat left dropdown-button waves-light white-text' href='#' data-beloworigin="true" data-activates='user-dropdown' data-constrainwidth="false">
						{{ username }}

						<i class="mdi-hardware-keyboard-arrow-down"></i>
					</a>

					<ul id='user-dropdown' class='dropdown-content deep-orange'>


						<li>
							<div class="valign-wrapper">
								<a class="white-text valign" href="login_page">Logout</a>
							</div>
						</li>

					</ul>
				</li>


			</div>
		</div>
		<!--<li><a href="#">Status</a></li>-->
		<li>
			<div class=" valign-wrapper">
				<a class="valign white-text" href="#"></a>
				<div class="switch">
					<label class="white-text">Available

						<input type="checkbox">
						<span class="lever"></span>

					</label>
				</div>

			</div>


		</li>
		<!--TODO Maps the nav things to their pages-->
		<li> <a class="white-text" href="home">Home</a></li>
		<li><a class="white-text" href="profile">Profile</a></li>
		<li><a class="white-text" href="friends">Friends</a></li>
		<li class="search deep-orange">
			<form method="get">
				<div class="input-field deep-orange">
					<input id="search-form" name="search-form" type="search"><i class="material-icons white-text">search</i>
				</div>
			</form>
		</li>
	</ul>
</header>


