<!--upper nav bar-->
<header>
<div class="navbar-fixed">
	<nav class="top-nav">
		<div class="nav-wrapper deep-orange">
			<a href="#" data-activates="sidenav" class="button-collapse top-nav full hide-on-large-only">
				<i class="mdi-navigation-menu"></i> </a>
			<a href="#" class="brand-logo hide-on-large-only">Cacti</a>
		</div>
	</nav>
</div>
</header>
<!--upper nav end -->
<!--side nav start -->
<ul id="sidenav" class="side-nav fixed grey">
	<li class="logo"><a id="logo-container" href="#"> <h1>Cacti</h1></a></li>
	<hr>
	<li><a href="#">Status</a></li>
	<li><a href="#">Home</a></li>
	<li><a href="#">Profile</a></li>
	<li><a href="#">Friends</a></li>
	<li class="search">
		<form>
			<div class="input-field deep-orange darken-1">
				<input id="search" type="search"><i class="material-icons white-text">search</i>
			</div>
		</form>
	</li>
</ul>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>