<!--upper nav bar-->
<header>
	<nav class="top-nav deep-orange">
		<div class="container">
			<div class="nav-wrapper"><a class="brand-logo center">Cacti</a></div>
		</div>
		<a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
	</nav>
	<ul id="slide-out" class="side-nav fixed grey">
		<div class="user-details">
			<div class="row grey center-align">
				<br>
				<div class="container">
					<img class="circle responsive-img"  src="http://www.dogbreedinfo.com/images26/EnglishBulldogPurebredDogSofiWhiteBrown9YearsOld1.jpg" >
				</div>
				<li>
					<a class='btn-flat left dropdown-button waves-light white-text' href='#' data-beloworigin="true" data-activates='user-dropdown' data-constrainwidth="false">
						{{ username }}

						<i class="mdi-hardware-keyboard-arrow-down"></i>
					</a>

					<ul id='user-dropdown' class='dropdown-content deep-orange'>


						<li>
							<div class="valign-wrapper">
								<a class="white-text valign" href="login_page">Logout</a>
							</div>
						</li>

					</ul>
				</li>


			</div>
		</div>
		<!--<li><a href="#">Status</a></li>-->
		<li>
			<div class=" valign-wrapper">
				<a class="valign white-text" href="#">Available</a>
				<div class="switch">
					<label>
						<input type="checkbox">
						<span class="lever"></span>

					</label>
				</div>

			</div>


		</li>
		<!--TODO Maps the nav things to their pages-->
		<li> <a class="white-text" href="home">Home</a></li>
		<li><a class="white-text" href="#">Profile</a></li>
		<li><a class="white-text" href="#">Friends</a></li>
		<li class="search deep-orange">
			<form method="get">
				<div class="input-field deep-orange">
					<input id="search-form" name="search-form" type="search"><i class="material-icons white-text">search</i>
				</div>
			</form>
		</li>
	</ul>
</header>

<!--<header>-->
<!--<div class="navbar-fixed">-->
	<!--<nav class="top-nav">-->
		<!--<div class="nav-wrapper deep-orange">-->
			<!--<div class="contianer">-->
				<!--<div class="nav-wrapper"><a class="brand-logo center">Cacti</a></div>-->
			<!--</div>-->
			<!--<a href="#" data-activates="sidenav" class="button-collapse top-nav full hide-on-large-only">-->
				<!--<i class="mdi-navigation-menu"></i> </a>-->
			<!--<a href="#" class="brand-logo hide-on-large-only">Cacti</a>-->
		<!--</div>-->
	<!--</nav>-->
<!--</div>-->
	<!--<ul id="sidenav" class="side-nav fixed grey">-->
		<!--<li class="logo"><a id="logo-container" href="#"> <h1>Cacti</h1></a></li>-->
		<!--<hr>-->
		<!--<li><a href="#">Status</a></li>-->
		<!--<li><a href="#">Home</a></li>-->
		<!--<li><a href="#">Profile</a></li>-->
		<!--<li><a href="#">Friends</a></li>-->
		<!--<li class="search">-->
			<!--<form>-->
				<!--<div class="input-field deep-orange darken-1">-->
					<!--<input id="search" type="search"><i class="material-icons white-text">search</i>-->
				<!--</div>-->
			<!--</form>-->
		<!--</li>-->
	<!--</ul>-->
<!--</header>-->
<!--upper nav end-->
<!--side nav start-->

<!--{% include "navbar_jquery.html" %}-->
<!--{% include "scripts.html" %}-->
