{% extends 'default.html' %}

{% block body %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container" id="form">
        <br>
        <h1 class="header center orange-text">Cacti</h1>
        <div class="row center">
            <h5 class="header col s12 light">Add a time frame when you're not free. We'll keep track of this.</h5>
        </div>
        {% include "schedule_form.html" %}
    </div>
</div>

<!-- Jquery imports -->
{% include "scripts.html" %}
<script type="text/javascript" src="/static/js/datecheck.js"></script>
<script type="text/javascript" src="/static/js/constructJSON.js"></script>
<!-- Initialization -->
<script>
	$(document).ready(function () {
		$('select').material_select();

        var count = 0;

        var serializationList = [];

        // Grab the csrfmiddlewaretoken
        var csrfToken = $('form:first')[0][0]['value'];
        console.log(csrfToken);

        $('#add').click(function (e) {
            // Get the first instance of the form in the DOM
            var source = $('form:first');
            var clone = source.clone();

            // The following for loops below will simply search the duplicated
            // form and change the IDS, Names, and Labels tags.
            clone.find(':input').attr('id', function(i, val) {
                return val + count;
            });

            clone.find(':input').attr('name', function (i, val) {
                return val + count;
            });

            clone.find('label').attr('for', function (i, val) {
                return val + count;
            });

            clone.appendTo('#form-section');
            $('#button-section').appendTo('#form-section');

            count++;
            e.preventDefault();
        });

        $('#ajax-test').click(function (e) {
            // Get all forms currently in the DOM.
            var forms = document.getElementsByTagName('form');

            // For each form in the list, construct JSON objects and append them to a list.
            for (var i = 0; i < forms.length; i++) {
                var jsonObject = makeJSON(forms[i][0]['defaultValue'], forms[i][1]['value'], forms[i][2]['value'], forms[i][3]['value'], forms[i][4]['value']);
                serializationList.push(jsonObject);
            }

            $.ajax({
                type: "POST",
                url: "/cacti_app/process-schedule",
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                    // Make the JSON object into a human readable string.
                    // TODO: Make sure the view function associated with process-schedule loads the JSON.
                    'json_data': JSON.stringify(serializationList),
                    'length': count
                },
                success: function (data) {
                    console.log(data);
                },
                error : function (err) {
                    console.log(err);
                },
                datatype: "json"
            });
        });
    });
</script>

{% endblock %}
