{% extends 'default.html' %}

{% block body %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container" id="form">
        <br>
        <h1 class="header center orange-text">Cacti</h1>
        <div class="row center">
            <h5 class="header col s12 light">Add a time frame when you're not free. We'll keep track of this.</h5>
        </div>
        {% include "schedule_form.html" %}
    </div>
</div>

<!-- Jquery imports -->
{% include "scripts.html" %}
<script type="text/javascript" src="/static/js/datecheck.js"></script>
<script type="text/javascript" src="/static/js/constructJSON.js"></script>
<!-- Initialization -->
<script>
	$(document).ready(function () {
		$('select').material_select();

        var count = 0;

        var serializationList = [];

        $('#add').click(function (e) {
            var source = $('form:first');
            var clone = source.clone();

            clone.find(':input').attr('id', function(i, val) {
                return val + count;
            });

            clone.find(':input').attr('id', function (i, val) {
                return val + count;
            });

            clone.appendTo('#form_stuff');
            $('#button-section').appendTo('#form_stuff');
            count++;
            e.preventDefault();
        });

        $('#ajax-test').click(function (e) {
            var forms = document.getElementsByTagName('form');
            console.log(forms);
            for (var i = 0; i < forms.length; i++) {
                var jsonObject = makeJSON(forms[i][0]['defaultValue'], forms[i][1]['value'], forms[i][2]['value'], forms[i][3]['value'], forms[i][4]['value']);
                serializationList.push(jsonObject);
            }

            for (var i = 0; i < serializationList.length; i++) {
                console.log(serializationList[i]);
                $.ajax({
                    type: "POST",
                    url: "/cacti_app/process-schedule",
                    data: serializationList[i],
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (err) {
                        console.log(err);
                    },
                    datatype: "json"
                });
            }
        });
    });
</script>

{% endblock %}
