{% extends 'default.html' %}

{% block body %}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<br>
		<h1 class="header center orange-text">Cacti</h1>
		<div class="row center">
			<h5 class="header col s12 light">Add a time frame when you're not free. We'll keep track of this.</h5>
		</div>
	</div>
	<div class="row center">
        <form class="col s6 offset-s3" action="{{ schedule_url }}" method="post">
			<div class="row">
				<div class="row">
					<div class="col s4">
						<h4>Start Time:</h4>
					</div>

					<div class="input-field col s4">
                        <input id="start_time" type="time">
					</div>
				</div>

				<div class="row">
					<div class="col s4">
						<h4>End Time:</h4>
					</div>

					<div class="input-field col s4">
						<input id="end_time" type="time">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6 offset-s3">
						<select multiple>
							<option value="" disabled selected>Select the days this timeframe applies to</option>
							<option value="Monday">Monday</option>
							<option value="Tuesday">Tuesday</option>
							<option value="Wednesday">Wednesday</option>
							<option value="Thursday">Thursday</option>
							<option value="Friday">Friday</option>
							<option value="Saturday">Saturday</option>
							<option value="Sunday">Sunday</option>
						</select>
					</div>
				</div>
			</div>
            <button class="waves-effect waves-light btn-large" href="{{ schedule_url }}" type="submit" name="action">Add Another Block</a>
            <button class="waves-effect waves-light btn-large" href="#" type="submit" name="action">Finished</a>
            {% csrf_token %}
		</form>
	</div>
</div>

<!-- Jquery imports -->
{% include "scripts.html" %}
<!-- Initialization -->
<script>
	$(document).ready(function () {
		$('select').material_select();
	});
</script>

{% endblock %}
