<div class="row center">
<form class="col s6 offset-s3" action="{{ schedule_process }}" method="post" id="sched_form">
    {% csrf_token %}
    <div class="row">
        <div class="col s6 offset-s3">
            <label for="sched_title">Schedule Title:</label>
            <input type="text" name="sched_title" id="sched_title" class="validate" required>
        </div>
    </div>
           
    <div class="row">
        <div class="col s6 offset-s3">
            <label for="start_time">Start Time:</label>
            <div id="start_error" class="row">
                {# Error messages will be loaded here. #}
            </div>
            <input type="time" name="start_time" id="start_time" class="validate" required>
        </div>
    </div>

    <div class="row">
        <div class="col s6 offset-s3">
            <label for="end_time">End Time:</label>
            <div id="end_error" class="center">
            {# Error messages will be loaded here. #}
            </div>
            <input type="time" name="end_time" id="end_time" class="validate" required>
        </div>
    </div>
			
    <div class="row">
        <div class="input-field col s12">
            <label for="sched_desc">Schedule Description</label>
            <textarea id="sched_desc" class="materialize-textarea" name="sched_desc" length="120" class="validate"></textarea>
        </div>
    </div>

    <div class="row">
        <button class="waves-effect waves-light btn-large" href="{{ schedule_url }}" type="submit" name="action" id="submit">Add Another Block</button>
    </div>
</form>

</div>
    <div class="row center">
    <button class="waves-effect waves-light btn-large" href="{{ finished_url }}">Finished</button>
</div>

<div class="row center">
    <button class="waves-effect waves-light btn-large" href="#" id='ajax-test'>Test Ajax</button>
</div>
</div>
