<div id="form-section">
    <form class="col s6 offset-s3 row center" action="{{ schedule_process }}" method="post" id="sched-form">
        {% csrf_token %}
        <div class="row">
            <div class="col s6 offset-s3">
                <label for="sched_title">Schedule Title:</label>
                <input type="text" name="sched_title" id="sched_title" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="col s6 offset-s3">
                <label for="start_time">Start Time:</label>
                <div id="start_error" class="row">
                    {# Error messages will be loaded here. #}
                </div>
                <input type="time" name="start_time" id="start_time" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="col s6 offset-s3">
                <label for="end_time">End Time:</label>
                <div id="end_error" class="center">
                    {# Error messages will be loaded here. #}
                </div>
                <input type="time" name="end_time" id="end_time" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="sched_desc">Schedule Description</label>
                    <textarea id="sched_desc" class="materialize-textarea" name="sched_desc" length="120"
                              class="validate"></textarea>
            </div>
        </div>
    </form>

    <div class="row center" id="button-section">
        <div class="col s6 offset-s3">
            <button class="waves-effect waves-light btn-large" id="add">Add Another Block</button>
            <button class="waves-effect waves-light btn-large" id="ajax-test">Ajax Test</button>
        </div>
    </div>
</div>