{% extends 'default.html' %}

{% block body %}

{% include 'navbar.html' %}
<main>
	<br>
	<br>
	<div class="row">
		<div class="col s12">
			<div class="container center-align">

				<img class="responsive-img" src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" height="100" style="max-width: 240px">
				<h1>{{ friend_username }}</h1>
				<h3>{{ friend_email }}</h3>
				<!--TODO make action to send the friend request-->
				<form method="POST" action="send_friend_request">
					{% csrf_token %}

					<button class="btn waves-effect waves-light deep-orange" type="submit">Add</button>
					<!--<input type="submit" class="btn waves-effect waves-light deep-orange" name="friend_btn">Add-->
						<!--<input id="submit_friend_request" class="btn waves-effect waves-light btn deep-orange" >Add</input>-->
				</form>
				<!--<a class="waves-light btn deep-orange">Add</a>-->
			</div>
		</div>
	</div>
</main>
{% include "scripts.html" %}

{% include 'navbar_jquery.html' %}

{% endblock %}